$primary-color-dark: #1A1A1D;
$primary-color-light: #EEEEEE;
$primary-color-light-darker: darken($primary-color-light, 10%);
$primary-color-red: #C3073F;
$primary-color-red-darker: darken($primary-color-red, 10%);
$contact-box: 55px;

@mixin font-size-weight($size,$weight){
	font-size: $size+px;
	font-weight: $weight;
}