@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

@import 'config';
@import 'normalize';

#container{
	height: 100vh;
	display: grid;
	grid-template-columns: 270px 1fr;
	overflow: hidden;
}

// LEFT BAR
#nav{
	background-color: $primary-color-dark;
	text-align: center;
	color: $primary-color-light;
	display: grid;
	padding: 55px 0;
	justify-items: center;
	align-content: space-between;
	position: relative;
	z-index: 1;
	h1{
		@include font-size-weight( 37, 700);
	}
	
	.nav-element{
		@include font-size-weight( 30, 300);
		opacity: 0.7;
		margin: 30px 0;
		cursor: pointer;
	}
	
	.nav-selected{
		font-weight: 600;
		opacity: 1;
	}
}

main{
	position: relative;
	background-color: $primary-color-light;	
}

// RIGHT BAR
section{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: $primary-color-light;
	color: $primary-color-dark;
	text-align: center;
	transform: translateY(1000px);
	transition: transform .6s cubic-bezier(0.215, 0.490, 0.470, 1.000),
							visibility .6s cubic-bezier(0.215, 0.490, 0.470, 1.000),
							opacity .3s ease-in;
	display: grid;
	align-content: center;
	justify-content: center;
	// SELECTED CONTAINER
	&.main-selected{
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		.red{
			width: $contact-box;
			transition: width .6s ease-in .5s;
		}
	}
}


// HOME CONTAINER
section#home{
	background-image: url('../public/PortfolioBack.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	h1{
		@include font-size-weight( 90, 500 );
	}
}

// ABOUT CONTAINER
section#about{
	span{
		color: $primary-color-red;
	}
	#about-headline{
		@include font-size-weight( 65, 600);
	}
	#about-desc{
		@include font-size-weight( 30, 400);
	}
}

// SKILLS CONTAINER

section#skills{
	justify-content: space-around;
	grid-template-columns: repeat(2, 450px);
	.skills-container{
		// background-color: $primary-color-red;
		// border: 2px solid black;
		padding: 15px;
	}
	.skills-left{
		h2{
			@include font-size-weight( 25, 600);
			margin-bottom: 25px;
		}
		p{
			@include font-size-weight( 17, 400);
			line-height: 1.2;
			&:first-of-type{
				margin-bottom: 20px;
			}
		}
	}
	.skills-right{
		display: grid;
		align-content: space-between;
		.bar{
			background-color: #fff;
			height: 40px;
			position: relative;
			box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
			span{
				position: absolute;
				top: 20%;
				left: 7px;
				color: $primary-color-light;
				@include font-size-weight( 20, 700);
			}
			.progress{
				background: linear-gradient(to bottom, $primary-color-red 0%,$primary-color-red-darker 100%);
				height: 100%;
				box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
			}
		}
	}
}

// CONTACT CONTAINER

section#contact{
	h1{
		@include font-size-weight( 35, 700);
	}
}

.contact-desc{
	position: relative;
	height: $contact-box;
	width: $contact-box*10;
	background-color: #fff;
	margin: $contact-box 0;
	@include font-size-weight( 25, 600);
	.red{
		float: left;
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: $primary-color-red;
	}
	.info{
		line-height: $contact-box;
		padding-left: $contact-box;
	}
}